* {
    margin: 0;
    padding: 0;
    background-color: black;
  }

/* Header */

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .content {
    overflow-x: hidden;
    position: relative;
  }
  
  header {
    position: fixed;
    top: 0;
    background-color: black;
    border-bottom: 2px solid green;
    z-index: 9999 ;
    width: 100%;
  }
  
  .App-header {
    display: flex;
    overflow: auto;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    height: 60px;
    width: 100%;
  }  

  .main {
    background-color: rgb(85,85,85);
    line-height: 60px;
    font-size: medium;
    margin-left: 17%; /* 50px gap on the left */
  }

  .siteNotification {
    background-color: rgb(85,85,85);
    color: white;
    margin-top: 56px;
    height: 6.5vh;
    display: flex;
    justify-content: space-between; /* Spacing between text and button */
  }
  
  .Buy-button {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    margin-left: 3px;
    cursor: pointer;
    margin-right: 30%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
  }
  
  .Buy-button:hover {
    text-decoration: underline;
  }
  
  .greater-then {
    color: white;
    background-color: transparent;
  }
  
  .shop-now-button {
    color: white;
    background-color: transparent;
    border: none;
  }
  
  .shop-now-button:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .cta-links button:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .header-button {
    background-color: black;
    border: none;
    color: rgb(88, 88, 88);
    font-size: 16px;
    width: 60px;
    cursor: pointer;
    margin: 0 32px;
  }
  
  .header-button:hover {
    color: #ffffff;
  }
  
  .logo-container {
    border: none;
    background-color: black;
  }
  
  .logo {
    width: 35px;
    margin-left: -50px;
    position: absolute;
  }
  
  .logo:hover {
    cursor: pointer;
  }
  
  .search-icon:hover {
    cursor: pointer;
  }
  
  .search-button {
    background-color: black;
    border: none;
  }
  
  .search-icon {
    margin-top: 20px;
    width: 20px;
    margin-left: 30px;
  }
  
  .cart-icon {
    width: 20px;
    margin-left: 70px;
  }
  
  .cart-button {
    background-color: black;
    border: none;
  }
  
  .cart-icon:hover {
    cursor: pointer;
  }



  /* start */

  .newage-desktop {
    width: 100%;
  }

/*  Buttons */
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: RGB(68, 214, 44);; 
    margin: 1%;
    border-radius: 4px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    width: 420px; /* Set a fixed width for all buttons */
    height: 50px;
    margin-top: 5%;
}

.button.active {
    background-color: gray; 
}


  /* Grid IMGs */
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; 
    padding: 0 200px;  
    justify-content: center;
    margin-top: 8%;
}


.grid-holders {
    background-color: rgb(17,17,17); 
    flex: 0 0 20rem;
    min-height: 550px;
    align-items: center;
    position: relative;
}
 
.grid-img {
    max-width: 20rem;
    min-height: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17,17,17);
}


/* Additional styling for headers and prices */
.rgb-img {
  margin-right: 80%;
  bottom: 30px;
  position: relative;
  left: 3%;
}

.grind-headers {
    color: white;
    font-size: large;
    text-align: start;
    margin-left: 8%;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: rgb(17,17,17);
}

.grid-sub {
  color: rgb(154,154,154);
  margin-top: 10%;
  text-align: start;
  margin-left: 8%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: rgb(17,17,17);
}

.grid-price {
    color: white;
    margin-top: 5%;
    background-color: rgb(17,17,17);
}

.text {
  flex-grow: 1; 
  background-color: rgb(17,17,17);
}

.bottom-left {
  position: absolute;
  left: 5%; 
  bottom: 5%;
  background-color: transparent;
}

.bottom-right {
  position: absolute;
  right: 5%; 
  top: 90%;
}

.bottom-right-buy {
  background-color: #44d62c;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  width: 50px;
  height: 27px;
  
}







  /* Bottom Grid */

  .image-container {
    position: relative;
    width: 100%; 
    height: 700px; 
    background-image: url('./NewageIcons/chroma-mania-signup-v3.webp');
    background-size: cover; 
    background-position: center;
    
  }
      

      
  .content-container {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
  }
      
  .final-text-container {
    text-align: center;
    background-color: transparent;
  }

  .final-header-text {
    color: rgb(68,214,44);
    font-family: 'RazerF5', Arial, Helvetica, sans-serif;
    font-size: 40px;
    top: 5%;
    font-size: clamp(1rem, 2vw, 1.8rem);
    background-color: transparent;
  }

  .final-sub-text {
    color: rgb(154,154,141);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 5%;
    background-color: transparent;
  }
      
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
  }

  .input-container input,
  .input-container select {
    width: 80%;
    max-width: 100%;
    height: 60px;
    margin: 10px 0; /* Adjust the vertical margin (top and bottom) */
    background-color: rgb(17, 17, 17);
    color: rgb(154, 154, 154);
    border: 1px solid rgb(154, 154, 154);
    font-size: 16px;
    text-indent: 3%;
  }

  .final-submit-button {
    background-color: rgb(68,214,44);
    font-size: clamp(0.875rem, 1rem + 10vw ,1.25rem);
    border: none;
    max-width: 300px;
    width: 100px;
    min-height: 2.5rem;
    border-radius: 3px;
    font-weight: 700;
    margin-top: 10%;
  }

  .final-submit-button:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .error-message {
    color: red;
    margin-bottom: 10px;
    background-color: transparent;
    font-weight: 700;
  }

  .error-container {
    background-color: transparent;
  }



  /* Shared text */

  .header-text {
    color: RGB(68, 214, 44);
    font-family: "Titillium Web", "RazerF5", Arial, Helvetica, sans-serif; 
    font-size: 30px;
    margin-top: 5%;
  }
    
  .header-text-container {
    text-align: center;
  }

  .discription-text {
    color: RGB(154, 154, 154);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin-top: 1%;
  }


  /*  gaming laptop image, chairs image, v2 pro banner image, thx audio image  */

  .shared-image {
      margin-top: 2%;
      width: 100%;
  }



  /* small learn more buttons/view more */

  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh; 
}

  .more-buttons {
    color: RGB(68, 214, 44);
    background-color: transparent;
    border: none;
    font-size: 16px;
    text-decoration: none;
}

  .more-buttons:hover {
    text-decoration: underline;
    cursor: pointer;
}