* {
    margin: 0;
    padding: 0;
    background-color: black;
  }
/* Header */

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .content {
    overflow-x: hidden;
    position: relative;
  }
  
  header {
    position: fixed;
    top: 0;
    background-color: rgb(85,85,85);
    border-bottom: 2px solid green;
    z-index: 9999 ;
    width: 100%;
  }
  
  .App-header {
    display: flex;
    overflow: auto;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    height: 60px;
    width: 100%;
  }  

  .main {
    background-color: rgb(85,85,85);
    line-height: 60px;
    font-size: 14px;
    margin-left: 17%; /* 50px gap on the left */
    font-family: "Roboto", sans-serif;
  }

  .siteNotification {
    background-color: rgb(85,85,85);
    color: white;
    margin-top: 56px;
    height: 6.5vh;
    display: flex;
    justify-content: space-between; /* Spacing between text and button */
  }
  
  .Buy-button {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    margin-left: 3px;
    cursor: pointer;
    margin-right: 30%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
  }
  
  .Buy-button:hover {
    text-decoration: underline;
  }
  
  .greater-then {
    color: white;
    background-color: transparent;
  }
  
  .shop-now-button {
    color: white;
    background-color: transparent;
    border: none;
  }
  
  .shop-now-button:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .cta-links button:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .header-button {
    background-color: black;
    border: none;
    color: rgb(153, 153, 153);
    width: 60px;
    cursor: pointer;
    margin: 0 32px;
    font-family: 'RazerF5', Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  
  .header-button:hover {
    color: #ffffff;
  }
  
  .logo-container {
    border: none;
    background-color: black;
  }
  
  .logo {
    width: 35px;
    margin-left: -50px;
    position: absolute;
  }
  
  .logo:hover {
    cursor: pointer;
  }
  
  .search-icon:hover {
    cursor: pointer;
  }
  
  .search-button {
    background-color: black;
    border: none;
  }
  
  .search-icon {
    margin-top: 20px;
    width: 20px;
    margin-left: 30px;
  }
  
  .cart-icon {
    width: 20px;
    margin-left: 70px;
  }
  
  .cart-button {
    background-color: black;
    border: none;
  }
  
  .cart-icon:hover {
    cursor: pointer;
  }


  .controller-desktop-img {
    width: 100%;
  }

  .desktop-text {
    text-align: center;
    max-width: 1000px; 
    margin: 0 auto; 
  }

  .desktop-title {
    color: #FFFFFF;
    font-family: 100 1.125rem/1.125rem RazerF5,Arial,Helvetica,sans-serif;
    font-size: 24px;
  }

  .desktop-second {
    color: #44D62C;
    font-size: 72px;
    font-family: "Titillium Web", "RazerF5", Arial, Helvetica, sans-serif;
  }

  .desktop-discription-text {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
    color: #9A9A9A;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
  }



  .fingertip-text {
    color: #44d62c;
    font-family: "Titillium Web", "RazerF5", Arial, Helvetica, sans-serif;
    font-size: 28px;
  }

  .switchblade-buttons-text {
    color: #FFFFFF;
    font-size: 18px;
  }

  .shortcut-text {
    font: normal 1.125rem/1.5rem Roboto;
    color: #9a9a9a;
  }

  .fingertips-img {
    width: 100%;
  }


/* Media query for screens with a maximum width of 414px */
@media (max-width: 414px) {
    .desktop-second {
      word-break: break-word;
      font-size: min(8vw, 2rem);
    }

    .fingertip-text {
        word-break: break-word;
        font-size: min(8vw,1.75rem);
    }
  }
  
  /* Media query for screens with a maximum width of 768px */
  @media (max-width: 768px) {
    .desktop-second {
      font: 700 2rem/1 "Titillium Web", "RazerF5", Arial, Helvetica, sans-serif;
    }

    .desktop-title {
        font: 100 1.125rem/1.125rem RazerF5,Arial,Helvetica,sans-serif;
    }

    .fingertip-text {
        font: 700 1.75rem/1 "Titillium Web",RazerF5,Arial,Helvetica,sans-serif;
    }

    .switchblade-buttons-text {
        font: bold 1.125rem/1.5rem Roboto;
        margin-top: -1rem;  
    }

  }
  
  /* Another media query for screens with a maximum width of 414px */
  @media (max-width: 414px) {
    .desktop-second {
      word-break: break-word;
      font-size: min(8vw, 1.75rem);
    }
  }
  
  /* Another media query for screens with a maximum width of 768px */
  @media (max-width: 768px) {
    .desktop-second {
      font: 700 1.75rem/1 "Titillium Web", "RazerF5", Arial, Helvetica, sans-serif;
    }
  }
  