* {
    margin: 0;
    padding: 0;
    background-color: black;
  }
/* Header */

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .content {
    overflow-x: hidden;
    position: relative;
  }
  
  header {
    position: fixed;
    top: 0;
    background-color: rgb(85,85,85);
    border-bottom: 2px solid green;
    z-index: 9999 ;
    width: 100%;
  }
  
  .App-header {
    display: flex;
    overflow: auto;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    height: 60px;
    width: 100%;
  }  

  .main {
    background-color: rgb(85,85,85);
    line-height: 60px;
    font-size: 14px;
    margin-left: 17%; /* 50px gap on the left */
    font-family: "Roboto", sans-serif;
  }

  .siteNotification {
    background-color: rgb(85,85,85);
    color: white;
    margin-top: 56px;
    height: 6.5vh;
    display: flex;
    justify-content: space-between; /* Spacing between text and button */
  }
  
  .Buy-button {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    margin-left: 3px;
    cursor: pointer;
    margin-right: 30%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
  }
  
  .Buy-button:hover {
    text-decoration: underline;
  }
  
  .greater-then {
    color: white;
    background-color: transparent;
  }
  
  .shop-now-button {
    color: white;
    background-color: transparent;
    border: none;
  }
  
  .shop-now-button:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .cta-links button:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .header-button {
    background-color: black;
    border: none;
    color: rgb(153, 153, 153);
    width: 60px;
    cursor: pointer;
    margin: 0 32px;
    font-family: 'RazerF5', Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  
  .header-button:hover {
    color: #ffffff;
  }
  
  .logo-container {
    border: none;
    background-color: black;
  }
  
  .logo {
    width: 35px;
    margin-left: -50px;
    position: absolute;
  }
  
  .logo:hover {
    cursor: pointer;
  }
  
  .search-icon:hover {
    cursor: pointer;
  }
  
  .search-button {
    background-color: black;
    border: none;
  }
  
  .search-icon {
    margin-top: 20px;
    width: 20px;
    margin-left: 30px;
  }
  
  .cart-icon {
    width: 20px;
    margin-left: 70px;
  }
  
  .cart-button {
    background-color: black;
    border: none;
  }
  
  .cart-icon:hover {
    cursor: pointer;
  }


  /* Start */
  .image {
    width: 100%;
  }

.intro-header-text {
  color: RGB(68, 214, 44);
  font-family: "Titillium Web", "RazerF5", Arial, Helvetica, sans-serif; 
  font-size: 70px;
  margin-top: 2%;
  background-color: transparent;
}
  
.intro-text-container {
  text-align: center;
}

.intro-discription-text {
  color: RGB(154, 154, 154);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-top: 1%;
  background-color: transparent;

}

.intro-text {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin-top: 1%;
  background-color: transparent;
}


  /* Shared CSS */

  .header-text {
    color: RGB(68, 214, 44);
    font-family: "Titillium Web", "RazerF5", Arial, Helvetica, sans-serif; 
    font-size: 50px;
    margin-top: 5%;
    background-color: transparent;
  }
    
  .header-text-container {
    text-align: center;
  }
  
  .discription-text {
    color: RGB(154, 154, 154);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin-top: 1%;
    background-color: transparent;
  
  }
  
  .dynamic-text {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    margin-top: 1%;
    background-color: transparent;
  }

  .shared-image {
    width: 100%;
    margin-top: 2%;
  }




  

  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-top: 5%;
  }
  
  .image-container {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
}

.displayed-image {
  max-width: 100%;
  height: auto;
}

.button-test {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-button {
  background-color: #333;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
 }
 
 .profile-button:hover {
  background-color: #444;
 }